*{
	margin:0;
	padding:0;
}

body{
	Background-color: #5C8DBF
}
.indexWrap{
 	display:block; 
	height:210px;
	margin: 0 auto;
	position:relative;
	min-width:525px;
	margin-bottom:10px;
	overflow:hidden;
	
}
.front, .back{
	width:500px;
	height:200px;
	position:relative;
	margin:0 auto;
	border: 5px solid black;
	margin-bottom:5px;
}
.front{
	background-color:white;
}
.back{
	background-color: white;	
}
.cardText{
	position: relative;
	top: 50%;
	left: 50%;
	width: 400px;
	text-align: center;
	font-size:35px;
	font-family:ms, sans-serif;
	transform: translate(-50%, -50%);	
}
textarea{
	resize:none;
	width:250px;
	position:relative;
	margin:0 auto;
	
}
#frontText{
	left:10px	
}
button{
	display:block;
	position:relative;
	width: 100px;
	margin: 0 auto;
	margin-bottom:10px;
	
	
	
}
.buttonWrap{
	position:relative;
	
	margin: 0 auto;
}

.active{
	
}
.hidden{
	display:none;
}
.flipButton{
	height:20px;
	width: 20px;	
	margin:0;
	padding:0;
	position:absolute;
	top:175px;
	left:475px;
	z-index:2;
}
.editor{
	height:20px;
	width: 20px;	
	margin:0;
	padding:0;
	position:absolute;
	z-index:2;
	left:450px;
	top:175px;
}

.savedCards{
	width:510px;
	padding: 0;
}

#mode{
	margin-top:25px;
	text-align:center;	
	font-size:40px;
	font-family:ms, sans-serif;	
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
}
/*fudge*/
.mainWrap{
	margin: 0 auto;
	left:0;
	right:0;
	top:75px;
	width: 525px; 
	background-color:#8AB1D9;
	position:absolute;
	padding-top:5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);

}

.innerWrap{
	position:relative;
	margin:0 auto;
	display:block;
	
}
